body{
    background: url("/test/sun.jpg") no-repeat;
}
.abzac1{
    font-weight: bold;
    color: blue;
    padding-left: 50px;
    padding-bottom: 20px;
    background-position: left;
    font-size: 36px;
    font-style: normal;
    text-align: left;
}